<section id="about" class="about"> 
<div class="container">

 <div class="section-title"> 
 <h2>Fill the details</h2> 
 
 </div>
 </div class="row content">
 <div class="first">
 <form action="{{url_forty(y-predict')}}" method="POST"> 
 <input type = "number" id="sent" name="send" placeholder ="Age"> 
 <input type="number" "sen2" name="send" placeholder = "Gender (0), F(0)"> 
 <input type="number" id="send" name="send" placeholder="Stream CS(0), IT(1), ECE(2), Mech(3), EEE (4), civil(0)> 
 <input type="number" id="send" name="send" placeholder="Internships"> 
 <input type="number" Life"sens" name="sens" placeholder="CGP4"> 
 <input type="number" id="send" name="send" placeholder"Number of backlogs"> 
 <input type="submit" value="Submit"s
 </form> 
 </div> 
</div> 
</div> 
</section> <!-- End About Us Section-->